* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    /* las imagenes al 100% de su contenedor */
    /* o max-width=100%; */
}

/* body */
body {
    padding: 1rem;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border-color: brown; */
    background-color: aquamarine;
}


header form {
    display: none;
}

h1 {
    color: rgb(114, 21, 21);
    background-color: rgb(130, 211, 141);
    /* color de letra y fondo */
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

}

@media(min-width:768px) {

    header {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        /* grid-template-rows: 1fr 1fr;*/
        gap: 0%;
        
    }
    hr{
        display:none ;
    }

    header h1 {
        text-align: left;
    }

    header form {
        display: flex;
        align-items: center;
        justify-content: end;
        background-color: rgb(130, 211, 141);
    }

    header nav {
        grid-column: span 2;
    }

    header nav ul {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

@media(min-width:1200px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       align-items: center;
    }
    header form{
        background-color: aquamarine;
    }
    header h1{
        background-color: aquamarine;
    }
    header nav ul {
        text-decoration: none;
    }

}

/* main */
main {
    border-style: solid;
    border-color: black;
}

section h2 {
    text-align: center;
}

.articulo {
    display: flex;
    gap: 1rem;
}

article {

    background-color: rgb(240, 163, 205);
    border-color: rgba(219, 219, 107, 0.274);
    border-style: solid;
    border-width: 10px;
    margin: 15px;
}

.titulo {
    color: blue;
}

.caja {
    display: inline-block;
}

aside {
    display: inline-block;
    background-color: rgba(45, 204, 31, 0.623);
    width: 300px;
    /* min-width: 400px; */
    padding: 1rem;
}

/* footer */
footer {
    background-color: black;
    color: beige;
}